/*====================================
 Free To Use For Personal And Commercial Usage
Author: http://binarytheme.com
 License: Open source - MIT
 Please visit http://opensource.org/licenses/MIT for more Full Deatils of license.
 Share Us if You Like our work 
 Enjoy Our Codes For Free always.
======================================*/

/* ========================================
    GENERAL STYLES
    ======================================   */

body {
    margin-top:70px;
}
.margin-top {
	margin-top:20px; 
}

a:hover,
a:focus {
  color: #FF0047;
  text-decoration: none;
  outline: none;
}
.mr-botm {
    margin-bottom:50px;
}
.mr-top-50 {
    margin-top:50px;
}
/* ========================================
    BOOTSTRAP STYLE CHANGES
    ======================================   */
.navbar-brand {
    height:70px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #007AFF;
}

.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}


/* ========================================
    CAROUSEL STYLE 
    ======================================   */


.carousel {
 min-height: 300px;
  margin-bottom: 30px;
}

.carousel-caption {
  z-index: 10;
}


.carousel .item {
   min-height: 300px;
  background-color: #68c4f6;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
   min-height: 300px;
}
.carousel-caption {
text-shadow: none;
}
