<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key ="AdminLoginID" value ="Admin"/>
     <add key ="AdminPassword" value ="123"/>


    <add key ="Host" value ="smtp.gmail.com"/>
    <add key ="EnableSsl" value ="true"/>
    <add key ="UserName" value ="tayyab.shahid11@gmail.com"/>
    <add key ="Password" value ="joker...."/>
    <add key ="Port" value ="587"/>

  </appSettings>
  <connectionStrings>
    <add name ="Myconn"  connectionString="Data Source = DESKTOP-7FE1OR1\SQLEXPRESS ; initial Catalog=MyAmazonDB; Integrated Security= True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>




    
    